.test-fixed-width {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
}
.test-fluid-width {
  position: absolute;
  top: 0;
  left: 320px;
  right: 0;
}
.remoxly {
  background-color: #1d1d1d;
}
.remoxly * {
  box-sizing: border-box;
}
.remoxly h1,
.remoxly h2,
.remoxly h3,
.remoxly h4,
.remoxly h5,
.remoxly h5,
.remoxly h6,
.remoxly p,
.remoxly li,
.remoxly span,
.remoxly div {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
}
.remoxly .panel {
  min-width: 320px;
}
.remoxly .widget {
  position: relative;
  height: 36px;
  overflow: hidden;
}
.remoxly .widget * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.remoxly .widget .tool {
  text-align: center;
}
.remoxly .widget.header h2 {
  display: block;
  position: absolute;
  height: 100%;
  background-color: #343132;
  border: 1px solid #1d1d1d;
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  left: 0;
  right: 36px;
  background-color: #9b59b6;
}
.remoxly .widget.header .tool {
  display: block;
  position: absolute;
  height: 100%;
  background-color: #343132;
  border: 1px solid #1d1d1d;
  cursor: pointer;
  right: 0;
  width: 36px;
  text-align: center;
  background-color: #9b59b6;
}
.remoxly .widget.color h3 {
  display: block;
  position: absolute;
  height: 100%;
  background-color: #343132;
  border: 1px solid #1d1d1d;
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  left: 0;
  right: 36px;
}
.remoxly .widget.color .tool {
  display: block;
  position: absolute;
  height: 100%;
  background-color: #343132;
  border: 1px solid #1d1d1d;
  cursor: pointer;
  right: 0;
  width: 36px;
}
.remoxly .widget.slider h3 {
  background-color: #343132;
  border: 1px solid #1d1d1d;
  display: block;
  position: absolute;
  height: 100%;
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  cursor: col-resize;
  left: 0;
  right: 168px;
}
.remoxly .widget.slider h3 .slide {
  width: 50%;
  height: 100%;
  background-color: #a39d85;
  position: absolute;
  top: 0;
  left: 0;
}
.remoxly .widget.slider h3 .text {
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
}
.remoxly .widget.slider h4 {
  background-color: #343132;
  border: 1px solid #1d1d1d;
  display: block;
  position: absolute;
  height: 100%;
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  width: 96px;
  right: 72px;
  text-align: right;
}
.remoxly .widget.slider .tool {
  display: block;
  position: absolute;
  height: 100%;
  background-color: #343132;
  border: 1px solid #1d1d1d;
  cursor: pointer;
  width: 36px;
  background-color: #545246;
}
.remoxly .widget.slider .tool.dec {
  right: 36px;
}
.remoxly .widget.slider .tool.tool.inc {
  right: 0;
}
.remoxly .widget.toggle {
  cursor: pointer;
}
.remoxly .widget.toggle .tool {
  background-color: #343132;
  border: 1px solid #1d1d1d;
  display: block;
  position: absolute;
  height: 100%;
  width: 36px;
  left: 0;
}
.remoxly .widget.toggle .tool.active {
  background-color: #f39c12;
}
.remoxly .widget.toggle h3 {
  background-color: #343132;
  border: 1px solid #1d1d1d;
  display: block;
  position: absolute;
  height: 100%;
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  left: 36px;
  right: 0;
}
.remoxly .widget.button {
  cursor: pointer;
}
.remoxly .widget.button h3 {
  background-color: #343132;
  border: 1px solid #1d1d1d;
  display: block;
  position: absolute;
  height: 100%;
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  right: 24px;
  left: 0;
  background-color: #545246;
  border-right: none;
}
.remoxly .widget.button .tool {
  background-color: #343132;
  border: 1px solid #1d1d1d;
  display: block;
  position: absolute;
  height: 100%;
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  width: 24px;
  right: 0;
  background-color: #545246;
  border-left: none;
}
