doctype html
html(lang="en")
    head
        title Remoxly HTML Prototype
        link( rel='stylesheet', type='text/css', href='/reset.css' )
        link( rel='stylesheet', type='text/css', href='/test.css' )
    body

        // Using ich haz to speed up iterations

        script( id="panel", type="text/html" )
            .remoxly 
                .panel
                    .groups

        script( id="group", type="text/html" )
            .group
                .widgets.header
                    .widget.header
                        h2 {{title}}
                        .tool ^
                    .widgets.body
           
        script( id="color", type="text/html" )
            .widget.color
                h3 {{title}}
                .tool t

        script( id="slider", type="text/html" )
             .widget.slider
                h3
                    .slide
                    .text {{title}}
                h4( contenteditable ) 0.5
                .tool.dec <
                .tool.inc >

        script( id="toggle", type="text/html" )
            .widget.toggle
                .tool *
                h3 {{title}}

        script( id="button", type="text/html" )
            .widget.button
                h3 {{title}}
                .tool *

        // Placing the content here
        .test-fixed-width
        .test-fluid-width

        // JavaScript Files    
        script( src='/libs/jquery-2.1.0.min.js' )
        script( src='/libs/ICanHaz.min.js' ) 
        script( src='/src/remoxly.js' )
        script( src='/test.js' )