doctype html
html( lang="en" )
    head
        title Remoxly UI Only Example
        link( rel='stylesheet', type='text/css', href='../build/remoxly.css' )
        link( rel='stylesheet', type='text/css', href='ui.only.css' )
    body

        // Test containers
        .test-fixed-width
        .test-fluid-width

        // JavaScript
        script( src='../libs/jquery-2.1.0.min.js' )
        script( src='../build/remoxly.js' )
        script( src='ui.only.js' )